/* Styles for header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253. 245, 93); /* Change to desired background color */
    color: #black; /* Change to desired text color */
    padding: 50px;
    background-image: url("weber copy.png");

}

h1l {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: rgb(253. 245, 93); /* Change to desired background color */
    color: #black; /* Change to desired text color */
    padding: 25px;

}

h1 {
 
    white-space: nowrap;

}

body {
  background-image: url("weber copy.png");
  margin: 0;
}

/* Styles for logo */
.logo {
    width: 75px; /* Adjust width as needed */
    height: auto;
    margin-right: 20px; /* Adjust margin as needed */
}

.banner {
  width: cover;
  height: 45vh;
  background-image: url('doweijdoweijd.png');
  background-size: cover;
  background-position: center;
  object-fit: cover;
}


/* Styles for title */
.title {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: normal;
    margin-left: 10px; /* Adjust margin as needed */
    line-height: 8px;
}

/* Styles for tagline */
.tagline {
    font-size: 16px; /* Adjust font size as needed */
    margin-left: 10px; /* Adjust margin as needed */
    line-height: 8px;
}

/* Styles for navigation */
nav {
    margin-left: 30px;
    align-items:center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items:center;
}

nav ul li {
    display: inline;
    margin: 0px; /* Adjust margin as needed */
    align-items:center;
}

nav ul li a {
    color: black; /* Change to desired text color */
    text-decoration: none;
    font-size: 18px; /* Adjust font size as needed */
    align-items:center;
    padding: 15px;

    
}

a {
    color: darkorange; /* Change to desired text color */
    text-decoration: none;
    font-size: 16px; /* Adjust font size as needed */

}

/* Styles for title and tagline container */
.header-text {
    text-align: left; /* Center the content horizontally */
}

/* Media query that adjust the contents when the screen is smaller */
@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px; /* Adjusted padding */
        justify-content: center;
    }

    .logo {
        margin-bottom: 30px;
        margin-right: 0px;
       
        
    }

    .title, .tagline {
        text-align: center; /* Centering title and tagline */
    }

    nav {
        margin: 20px auto; /* Centering navigation */
    }
    
    nav ul li a {
    color: black; /* Change to desired text color */
    text-decoration: none;
    font-size: 18px; /* Adjust font size as needed */
    align-items:center;
    padding-bottom: 10px;

    
}
    
}




nav ul li a {
  background: linear-gradient(0deg, rgb(255,232,24), rgb(255,232,24)) no-repeat center bottom / 0 var(--bg-h);
  margin-bottom; 5px;
  color: black;
  transition: background-size 1200ms;
  --bg-h: 7%;
  text-decoration: none;

 
}
nav ul li a:where(:hover, :focus-visible) {
  background-size: 300% var(--bg-h);
  background-position-x: bottom;
  
}
  
}

th, td {
  padding: 15px;
}


.center {
  margin-left: auto;
  margin-right: auto;
  overflow-x:auto;
}

.grid-container {
  display: grid;
  padding: 10px;
    margin-left: auto;
  margin-right: auto;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
.grid-item {
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 25px;
}

  .button-container {
    display: flex;
  }
  .button {
  background: linear-gradient(0deg, rgb(255,232,24), rgb(255,232,24)) no-repeat center left / 0 var(--bg-h);
  margin-bottom; 15px;
  color: black;
  transition: background-size 1200ms;
  --bg-h: 500%;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
  font-family: Times New Roman;
  padding: 10px 30px; /* Adjusted padding */
  text-align: center;
  border-radius: 40px; /* Adjusted border-radius */
  border-color: yellow;
  color: black;

  }
  .button:last-child {
    margin-right: 0; /* Remove margin from last button */
  }
  .button:hover {
  background-size: 300% var(--bg-h);
  background-position-x: bottom;

  }
  
    .button-container2 {
    display: flex;
  }
  .button2 {
  background: linear-gradient(0deg, rgb(255,232,24), rgb(255,232,24)) no-repeat center left / 0 var(--bg-h);
  margin: 15px;
  color: black;
  transition: background-size 1200ms;
  --bg-h: 500%;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
  font-family: Times New Roman;
  padding: 15px 15px; /* Adjusted padding */
  text-align: center;
  border-radius: 20px; /* Adjusted border-radius */
  border-color: yellow;
  color: black;

  }
  .button:last-child2 {
    margin-right: 0; /* Remove margin from last button */
  }
  .button:hover2 {
  background-size: 300% var(--bg-h);
  background-position-x: bottom;

  }
  

  
